# Mengenlehre und Datenbanken

### Imports und Datenbankverbindung

In [ ]:
import sqlite3
con = sqlite3.connect('university_orga.db')
cur = con.cursor()

### Clean-Up 
Wir stellen sicher, dass wir keine "alte" Version für dieses Beispiel haben, sondern ein sauberes Setup.

In [ ]:
cur.execute('''DROP TABLE students''')
cur.execute('''DROP TABLE lectures''');

### Setup
Wir erstellen drei frische Tabellen:
- Students
- Lectures
Die erste Tabelle enthält alle Studenten, die zweite Tablle alle verfügbaren Vorlesungen. Zur Vereinfachung nehmen wir an, dass jeder Student nur eine einzige Vorlesung besucht. Dazu setzen wir die Datensätze auf und schreiben Sie dann in die Datenbank.

In [ ]:
cur.execute('''CREATE TABLE students
               (id integer primary key, name text, studiengang text, semester integer, kursid integer, vorkurs integer)''')
cur.execute('''CREATE TABLE lectures
                (id integer primary key, kursname text)''')
students = [
    (None, 'Studentin A', 'Wirtschaftsingenieurwesen', 1, 2, 1),
    (None, 'Student B', 'Logistik', 1, 1, 0),
    (None, 'Studentin C', 'Wirtschaftsmathematik', 3, 3, 0),
    (None, 'Student D', 'Wirtschaftsinformatik', 1, 2, 0),
    (None, 'Studentin E', 'Logistik', 3, 2, 1),
    (None, 'Student F', 'Maschinenbau', 1, 2, 1),
    (None, 'Studentin G', 'Elektrotechnik', 1, 5, 1)
]
lectures = [
    (None, 'Logistik I'),
    (None, 'Mathematik I'),
    (None, 'Analysis I'),
    (None, 'Datenbanksysteme')
]
cur.executemany('''INSERT INTO students VALUES 
                    (?, ?, ?, ?, ?, ?)''', students)
cur.executemany('''INSERT INTO lectures VALUES
                    (?, ?)''', lectures)
con.commit()

Wir prüfen, ob die Daten in der Datenbank wie gewünscht verfügabr sind.

In [ ]:
print('Studenten:')
for row in cur.execute('SELECT * FROM students'):
    print(row)
print('========================================================')
print('Vorlesungen:')
for row in cur.execute('SELECT * FROM lectures'):
    print(row)

### SQL JOINS
![SQL JOINS](https://i.stack.imgur.com/UI25E.jpg)
ACHTUNG! SQL Joins sind anhand der Tabellen nicht 1 zu 1 mit der Mengenlehre vergleichbar, da Joins sich auf das kartesische Produkt beziehen. Dennoch veranschaulichen diese vereinfachten Beispiele die Denkweise bei Datenbankabfragen und wie die Mengenlehre dabei hilft.

#### Inner Join (Schnittmenge)

In [ ]:
for row in cur.execute('''SELECT name, studiengang, kursname 
                FROM students
                INNER JOIN lectures
                ON students.kursid=lectures.id'''):
    print(row)

#### Left Join exclusive (Differenzmenge)

In [ ]:
for row in cur.execute('''SELECT name, studiengang, kursname 
                FROM students
                LEFT JOIN lectures
                ON students.kursid=lectures.id
                WHERE lectures.id is NULL'''):
    print(row)

In [ ]:
for row in cur.execute('''SELECT name, studiengang, kursname 
                FROM students
                LEFT JOIN lectures
                ON students.kursid=lectures.id'''):
    print(row)